.begin {
    margin: 0 auto;
    margin-top: 40px;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-size: large;
    background-color: aliceblue;
}

.form-bar {
    padding: 1em;
    border: 1px solid #CCC;
    background-color: rgb(239, 237, 234);
}

.radio {
    padding: 1em;
    margin: 0 auto;
    width: 200px;
    border: 1px solid #CCC;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(26, 20, 20);
}